header {
  height: 150px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 30px;
  display: inline-block;
}

main {
  height: 100%;
  width: 100%;
}

.navbar {
  margin-top: 50px;
  margin-right: 50px;
  display: inline;
  float: right;
}

.navbar a {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  transform: rotate(-30deg);
  width: 100px;
  background-color: black;
  color: white;
  padding: 15px 32px;
  margin-left: -50px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.navbutton:hover {
  opacity: .75;
  cursor: url("assets/like1-512.png");
}

@media screen and (min-width: 700px) {

  body {
    background-color: lightgreen;
  }

  h1 {
    font-size: 70px;
  }
}

@media screen and (min-width: 700px) {

  body {
    background-color: lightgreen;
  }

  h1 {
    font-size: 70px;
  }
}

@media screen and (min-width: 700px) {

  body {
    background-color: lightgreen;
  }

  h1 {
    font-size: 70px;
  }
}
